.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#start-button-col{
  margin-bottom: 5%;
  float: left;
  margin-top: -8%;
}

#logo-break{
  /*color: rgb(104, 103, 103);*/
  color: white;
  opacity: unset;
  height: 7px;
  width: 63%;
  float: right;
  margin-right: 7%;
}

#break-row{
  margin-bottom: 1%;
  margin-top: -6%;
}

.terminal-window{
  background-color: rgb(34 33 33);
  color: white;
}

#output-text{
  text-align: left;
  margin-left: 7%;
  padding-top: 5%;
  padding-bottom: 5%;
  line-height: 1.5;
  font-size: larger;
  font-family: var(--bs-body-font-family);
}

.logo {
  float: right;
}

.col-6{
  text-align: left;
}

#description-txt {
  padding-right: 7%;
}

#description{
  line-height: 1.3;
}

.cyberpunk-bg{
  margin-top: -31%;
  width: 95%;
  opacity: 0.1;
  padding-left: 5%;
}

#top-cyberpunk-img{
  margin-top: -15%;
}

#bottom-cyberpunk-img{
  margin-bottom: -12%;
}

#bg-img-main{
  margin-top: -71%;
  opacity: unset;
  width: 105%;
  margin-left: -4%;
  filter: brightness(1.1);
  animation: blink 3s;
  animation-iteration-count: infinite;
}

@keyframes blink {
  0% {
      opacity: 1;
  }
  50% {
      opacity: 0.5;
  }
  100% {
      opacity: 1;
  }
}

/*#root::before{
  content: "";
  background-image: url(./robotic-arm.png);
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: -10%;
      z-index: -1;
      height: 99%;
}*/

#root{
  background: #c9e7facb;
  position: relative; 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header{
  font-family: "Copperplate", fantasy;
  font-size: xxx-large;
}

.container {
  max-width: 96% !important;
}

.btn{
  font-size: xx-large!important;
  font-family: "Copperplate", fantasy;
  font-weight: bold !important;
}

  .bouncy {
    top: 50px;
    left: 50px;
    width: 26%;
    height: 49%;
    line-height: 75px;
    text-align:center;
    opacity: 1;
    background: green;
    color:#fff;
    border-radius:50%;
    -webkit-animation: bounce .3s infinite alternate;
    -moz-animation: bounce .3s infinite alternate;
    animation: bounce .8s infinite alternate;
  }
  @-webkit-keyframes bounce {
    to { -webkit-transform: scale(1.2); }
  }
  @-moz-keyframes bounce {
    to { -moz-transform: scale(1.2); }
  }
  @keyframes bounce {
    to { transform: scale(1.2); }
  }